extends ../layout
block content
  +nav(site.projectname + " Admin", "dropdown_menu", site.logo)
    +nav_item( "/user/list" ) DK Liste
    +nav_item_dropdown( "#" )(label="Auswertungen")
     +nav_item( "/statistics/downloads" ) Downloads
    +nav_item( "/admin/communication" ) Kommunikation
    +nav_item( "/procrastinate") #[span.glyphicon.glyphicon-time]
    +nav_item( "/admin-logout" ) Abmelden
  block admin-content
 