extends ../layout

block content
  +nav(settings.project.get('projectname'), "dropdown_menu", settings.project.get('logo')) 
    +nav_item('/project') Projekt auswählen  
    +nav_item("/admin-logon") Einloggen

  .jumbotron
    h2= settings.project.get('projectname') + " @ habiDAT"
    p Willkommen im Adminbereich von habiDAT. Bitte melde dich mit einem Administratorlogin an. 
  
  if message && message.length > 0
    div(class="alert alert-danger") 
      p.message= message
  
  .col-md-5.col-xs-12.col-sm-6.col-lg-4
    +logon_form("/admin-logon")
