include ../partials/forms

mixin add_admin_form()
  +form('/admin/add')
    +text('logon_id')(icon='fa-user' required)
    +text('email', _t('email'))(icon='fa-at' type='email' required)
    if (settings.config.get('auth.admin.method') === "ldap")
      +checkbox("ldap")(help=_t('ldap_help') id="ldap_account_checkbox")
    +checkbox("send_password_link")(help=_t('send_password_link_help'))      
    +submit_button()

