extends ../admin/layout
block admin-content
  .jumbotron
    h2 Administrator*innen Accounts
    p.lead Hier können Administrator*innen-Accounts angelegt werden. Es gibt zwei Arten von Accounts. Lokale Accounts können mit Passwort angegeben werden. Ist LDAP aktiviert, können auch LDAP Accounts angelegt werden, die sich mit dem Passwort aus dem LDAP System authentifizieren.
  .col-md-12
    table.table.table-striped
      thead
        tr
          th Login ID
          th Typ
          th Aktionen
      tbody
        each account in accounts
          tr
            td=account.logon_id
            td=(account.ldap?"LDAP":"Lokal")
            td.fit.text-right
                a.btn.btn-light.btn-sm.confirm-action(data-link='/admin/delete/'+account.id data-confirmtext='Willst du den Administrator*innen Account ' +account.logon_id + ' wirklich löschen?')
                  span.fa.fa-trash
  .col-md-12
    hr
  .col-md-12
    a.datatable-button.btn.btn-primary.btn-sm.sidebar-action(href='/admin/add_account')
      span.fa.fa-plus 
      span  Account   
              