include ../partials/forms

mixin add_admin_form()
  +form('/admin/add')
    +text('logon_id')(icon='fa-user' required)
    if (settings.config.get('auth.admin.method') === "ldap")
      +checkbox("ldap")(help=_t('ldap_help') id="ldap_account_checkbox")
      +text('password' )(type='password' groupClass='ldap-disabled' icon='fa-key' required)
      +text('password2')(type='password' groupClass='ldap-disabled' icon='fa-key' required)
    +submit_button()

  script.

    $('.datepicker').datepicker({'format': 'dd.mm.yyyy', 'language': 'de'});
    $('#ldap_account_checkbox').on('change', function() {    
      $(".ldap-disabled").toggleClass("d-none");
      console.log($('#password').attr('required'));
      if ($('#password').attr('required')) {
        $('#password').attr('required', false)
        $('#password2').attr('required', false)
      } else {
        $('#password').attr('required', true)
        $('#password2').attr('required', true)
      }
    });   