extends ../layout

block content
  +nav(project.projectname, "dropdown_menu", project.logo) 
    +nav_item('/project') Projekt auswählen  
    +nav_item("/admin-logon") Einloggen

  .jumbotron
    h2= project.projectname + " @ habiDAT"
    p Willkommen im Adminbereich von habiDAT. Bitte melde dich mit einem Administratorlogin an. 
  
  if message && message.length > 0
    div(class="alert alert-danger") 
      p.message= message
  
  
  +logon_form("/admin-logon")
