mixin add_admin(title)
    form.form-horizontal(action="/admin/add" method="post" role="form" )
      legend=title
      .form-group
        label.control-label.col-md-2 Username
        .col-md-8
          input.form-control(type="text"  name="logon_id" required)
      if (config.adminauth === "ldap")
        .form-group
          label.control-label.col-md-2(for="ldap") LDAP Account
          .col-md-8
            input.form-control.move-left(type="checkbox" name="ldap" aria-describedby="ldapHelp")
            small.form-text.text-muted(id="ldapHelp") Bei LDAP Accounts muss kein Passwort eingegeben werden.
      .form-group 
        label.control-label.col-md-2 Passwort
        .col-md-8
          input.form-control(type="password" name="password")
      .form-group 
        label.control-label.col-md-2 Passwort (Wiederholung)
        .col-md-8
          input.form-control(type="password" name="password2")
        .col-md-2.text-right
          button(type='submit' class='btn btn-primary') Speichern