extends ../layout
block content
  #body-container
    +nav(settings.project.get('projectname') + " Kreditverwaltung", "dropdown_menu", settings.project.get('logo'))
      +nav_item( "/user/list" ) 
        span.fa.fa-th-list
        span  Kredite
      +nav_item_dropdown( "#" )(label="Auswertungen" icon="fa-cogs")
       +dd_item( "/statistics/downloads" ) 
         span.fa.fa-download
         span  Downloads
       +dd_item( "/statistics/numbers" ) 
         span.fa.fa-chart-line
         span  Zahlen, Daten, Fakten
       +dd_item( "/user/list/cancelled" ) 
         span.fa.fa-comment-dollar
         span  Anstehende Rückzahlungen
       +dd_item( "/statistics/german") 
         span.fa.fa-balance-scale
         span  Direktkredite aus Deutschland
      +nav_item_dropdown( "#" )(label="Administration" icon="fa-tools")
        +dd_item( "/admin/accounts" ) 
          span.fa.fa-user-shield
          span  Admin Accounts
        +dd_item( "/admin/templates" ) 
          span.fa.fa-file-code
          span  Vorlagen        
        +dd_item( "/admin/infopack" ) 
          span.fa.fa-file-download
          span  Unterlagen für Kreditgeber*innen     
      +nav_item( "/procrastinate") #[span.fa.fa-clock]
    .row
      .col-xl-8.mx-auto(id="root-container")    
        .col-md-12
          if message && message != ""
            .row
              .col-md-12
                .alert.alert-danger.alert-fadeout= message
            
          block admin-content
  #sidebar.d-none.col-md-4