extends ../layout
block content
  +nav(project.projectname + " Admin", "dropdown_menu", project.logo)
    +nav_item( "/user/list" ) DK Liste
    +nav_item_dropdown( "#" )(label="Auswertungen")
     +nav_item( "/statistics/downloads" ) Downloads
     +nav_item( "/statistics/numbers" ) Zahlen, Daten, Fakten
     +nav_item( "/user/list/cancelled" ) Gekündigte, offene Kredite 
     +nav_item( "/user/list/expire" ) Ablaufende Kredite 
     +nav_item( "/statistics/german") Direktkredite aus Deutschland
     +nav_item( "/mixer/main" ) Bewohner*innenmixer    
    +nav_item( "/communication/main" ) Kommunikation
    +nav_item_dropdown( "#" )(label="Administration")
     +nav_item( "/admin/accounts" ) Admin Accounts
     +nav_item( "/admin/templates" ) Vorlagen
    +nav_item( "/procrastinate") #[span.glyphicon.glyphicon-time]
    +nav_item( "/admin-logout" ) Abmelden
  div(class="col-md-8 col-md-offset-2 col-xs-12")    
    if message && message != ""
      .row
        .col-md-12
          .alert.alert-danger.alert-fadeout= message
      
    block admin-content
   