include ../partials/forms


mixin template_form(formTitle, type)
  +form('/admin/addtemplate', formTitle)
    +hidden('type', type)
    +file('file')(icon='fa-upload')
    +select('salutation')(icon='fa-comment')
      +option('all', _t('user_salutation_all'))      
      +option('personal', _t('user_salutation_personal'))
      +option('formal', _t('user_salutation_formal'))
    +text('description')(icon='fa-comment-alt' required)
    +submit_button()