extends ../layout
include ./template_form

mixin template_table(templates, type, description, replace)
    table.table.table
      thead
        tr
          th.col-md-6 Datei
          th.col-md-6 Bezeichnung
          th.fit Aktionen
      tbody
        each template in templates
          if (template.ref_table == type)
            tr
              td.col-md-6
                a(href='/file/get/' + template.id).btn.btn-sm.btn-light
                  span.fa.fa-download
                  span  
                  span= template.filename                
              td.col-md-6=template.description
              td.fit.text-right
                if replace
                  a.btn.btn-light.btn-sm.sidebar-action(href='/admin/addtemplate/template_account_notification' title="Vorlage Überschreiben")
                    span.fa.fa-upload 
                else
                  a.btn.btn-light.btn-sm.confirm-action(data-link='/file/delete/'+template.id data-confirmtext='Willst du die ' + description + ' ' +template.description + ' wirklich löschen?' title="Vorlage Löschen") 
                    span.fa.fa-trash 


block content 
  .jumbotron
    h2 Vorlagen
    p.lead Vorlagen sind .docx Dateien (MS Word oder LibreOffice) die Platzhalter für Datenfelder beinhalten und aus denen automatische Dokumente generiert werden können. Es gibt Vorlagen für verschiedene Datensätze: Direktkreditgeber*innen, Direktkredite und eine Vorlage für die Buchhaltungsbestätigung, die von den Kreditgeber*innen selbst runtergeladen werden kann. Datenfelder können mit "{Datenfeldname}" eingefügt werden. Welche Felder zur Verfügung stehen, siehst du in den Beispieldokumenten.
  .card
    h5.card-header 
      span Vorlage für die Buchhaltungsbestätigung für Kreditgeber*innen
      span.float-right
        a.btn.btn-light.btn-sm.sidebar-action(href='/admin/addtemplate/template_account_notification' title="Vorlage Überschreiben")
          span.fa.fa-upload
    .card-body
      h6 
        span Beispielvorlage: 
        a.btn.btn-sm.btn-light(href='/public/templates/buchhaltung.docx')
          span.fa.fa-download
          span  
          span buchhaltung.docx
      hr
      +template_table(templates, 'template_account_notification', 'Buchhaltungsbestätigung', true)
  .card
    h5.card-header 
      span Vorlagen für Direktkreditgeber*in
      span.float-right
        a.btn.btn-light.btn-sm.sidebar-action(href='/admin/addtemplate/template_user' title="Vorlage Hinzufügen")
          span.fa.fa-upload
    .card-body
      h6 
        span Beispielvorlage: 
        a.btn.btn-sm.btn-light(href='/public/templates/dankesschreiben.docx')
          span.fa.fa-download
          span  
          span dankesschreiben.docx
      hr
      +template_table(templates, 'template_user', 'Direktkreditegeber*innenvorlage', false)
  .card      
    h5.card-header 
      span Vorlagen für Kredite
      span.float-right
        a.btn.btn-light.btn-sm.sidebar-action(href='/admin/addtemplate/template_contract' title="Vorlage Hinzufügen")
          span.fa.fa-upload
    .card-body
      h6
        span Beispielvorlage: 
        a.btn.btn-sm.btn-light(href='/public/templates/vertrag.docx')
          span.fa.fa-download
          span  
          span vertrag.docx
      hr
      +template_table(templates, 'template_contract', 'Direktkreditvorlage', false)
