include ../partials/forms
+form('/file/add/user')(updateTag='user_files' updateAction='replace')
  +hidden('id', id)
  +hidden('type', type)
  +file('file')(icon='fa-upload' required help="maximale Dateigröße 10MB")
  +text('description')(icon='fa-comment-alt')
  +checkbox('public', _t('file_public'))(help=_t('file_public_help'))
  +submit_button()