include add

mixin files_show(files, type, id, addFile)
  .row
    .col-md-12
      .card
        h4.card-header 
          span Dokumente
          span.float-right
            a.btn.btn-light.btn-sm(href='/file/add/' + type + '/'+id) 
              span.fa.fa-upload
        .card-body
          table.table
            tbody
              if (files.length == 0)
                tr
                  td Keine Dateien hochgeladen
              each file in files
                tr
                  td.col-md-4 
                    a(href='/file/get/' + file.id).btn.btn-sm.btn-light
                      span.fa.fa-download
                      span  
                      span= file.filename
                  td.col-md-7= file.description
                  td.col-md-1.text-right 
                    a.btn.btn-light.btn-sm.confirm(data-link='/file/delete/'+file.id, data-confirmtext='Willst du die Datei ' + file.filename + ' wirklich löschen?') 
                     span.fa.fa-trash
              if addFile && addFile === type
                +files_add(type,id)
