.alert.alert-success.alert-dismissible.fade.show(role='alert')
  strong Juhu! 
  span!= success
  button.close(type="button" data-dismiss="alert" aria-label="Close")
    small.fa.fa-times(aria-hidden="true")