version: '2'

volumes:
  db:
  config:
  files:
  upload:
  images:    

services:

  # Database
  #
  # mysql instances
  #
  db:
    image: mariadb
    restart: always
    volumes:
      - db:/var/lib/mysql
    environment:
      # please change:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_PASSWORD=secret
      # no need to change for default setup:
      - MYSQL_DATABASE=direktkredit
      - MYSQL_USER=direktkredit
    logging:
      options:
        max-size: 50m      

  # Web app
  #
  # NodeJS Web App
  #
  web:
    image: habidat/direktkredit
    restart: always
    volumes:
      - config:/habidat/config
      - files:/habidat/public/files
      - images:/habidat/public/images
      - upload:/habidat/upload     
    environment:
      # please change:
      - HABIDAT_DK_PROJECT_ID=project
      - HABIDAT_DK_PROJECT_NAME=Projectname
      - HABIDAT_DK_PROJECT_EMAIL=
      - HABIDAT_DK_PROJECT_LOGO=logo.gif
      - HABIDAT_DK_ADMIN_EMAIL=admin@example.com
      - HABIDAT_DK_ADMIN_USERNAME=admin
      - HABIDAT_DK_ADMIN_PASSWORD=secret
      - HABIDAT_DK_DB_PASSWORD=secret
      - HABIDAT_DK_SESSION_SECRET=secret      
      # no need to change for default setup:
      - HABIDAT_DK_DB_USER=direktkredit
      - HABIDAT_DK_DB_DATABASE=direktkredit
      - HABIDAT_DK_DB_HOST=db
      - HABIDAT_DK_PORT_HTTP=80
      # list of admin auth methods (local, ldap or oidc)  
      - HABIDAT_DK_AUTH_ADMIN_METHOD=local,ldap                                  
      # only if admin auth method includes LDAP:
      - HABIDAT_DK_AUTH_ADMIN_LDAP_URI=ldap://host:port 
      - HABIDAT_DK_AUTH_ADMIN_LDAP_HOST=host
      - HABIDAT_DK_AUTH_ADMIN_LDAP_PORT=389
      - HABIDAT_DK_AUTH_ADMIN_LDAP_BINDDN=cn=ldap-read,dc=example,dc=com
      - HABIDAT_DK_AUTH_ADMIN_LDAP_PASSWORD=secret
      - HABIDAT_DK_AUTH_ADMIN_LDAP_BASE=dc=example,dc=com 
      - HABIDAT_DK_AUTH_ADMIN_LDAP_SEARCHFILTER=(cn={{username}})
      # only if admin auth method includes oidc
      - HABIDAT_DK_AUTH_ADMIN_OIDC_LABEL=Keycloak (Admin)
      - HABIDAT_DK_AUTH_ADMIN_OIDC_ISSUER=http://keycloak:8080/realms/collectivo
      - HABIDAT_DK_AUTH_ADMIN_OIDC_CLIENT_ID=habidat
      - HABIDAT_DK_AUTH_ADMIN_OIDC_CLIENT_SECRET=hF2EGOwy7QTI5G9SNGFTejsC9j8G5X34
      - HABIDAT_DK_AUTH_ADMIN_OIDC_CALLBACK_URL=http://direktkredit.local:8020/login-oidc-cb
      - HABIDAT_DK_AUTH_ADMIN_OIDC_AUTH_URL=http://keycloak:8080/realms/collectivo/protocol/openid-connect/auth
      - HABIDAT_DK_AUTH_ADMIN_OIDC_TOKEN_URL=http://keycloak:8080/realms/collectivo/protocol/openid-connect/token
      - HABIDAT_DK_AUTH_ADMIN_OIDC_USERINFO_URL=http://keycloak:8080/realms/collectivo/protocol/openid-connect/userinfo
      # list of user auth methods (local or oidc)
      - HABIDAT_DK_AUTH_USER_METHOD=local,oidc                              
      # only if user auth method includes OIDC:
      - HABIDAT_DK_AUTH_USER_OIDC_LABEL=Keycloak
      - HABIDAT_DK_AUTH_USER_OIDC_ISSUER=http://keycloak:8080/realms/collectivo
      - HABIDAT_DK_AUTH_USER_OIDC_CLIENT_ID=habidat
      - HABIDAT_DK_AUTH_USER_OIDC_CLIENT_SECRET=hF2EGOwy7QTI5G9SNGFTejsC9j8G5X34
      - HABIDAT_DK_AUTH_USER_OIDC_CALLBACK_URL=http://direktkredit.local:8020/login-oidc-cb
      - HABIDAT_DK_AUTH_USER_OIDC_AUTH_URL=http://keycloak:8080/realms/collectivo/protocol/openid-connect/auth
      - HABIDAT_DK_AUTH_USER_OIDC_TOKEN_URL=http://keycloak:8080/realms/collectivo/protocol/openid-connect/token
      - HABIDAT_DK_AUTH_USER_OIDC_USERINFO_URL=http://keycloak:8080/realms/collectivo/protocol/openid-connect/userinfo      
      # change if you need https:
      - HABIDAT_DK_HTTPS=false
      - HABIDAT_DK_PORT_HTTPS=443
      - HABIDAT_DK_SSL_CERT=config/certificate.pem
      - HABIDAT_DK_SSL_KEY=config/key.pem      
    depends_on:
      - db
    links:
      - db
    ports:
      - 8020:80
    logging:
      options:
        max-size: 50m    
