extends layout
block content
  +nav(site.projectname, "dropdown_menu")
    +nav_item( "profile" ) Finanzstatus
    +nav_item( "files" ) Dateien
    +nav_item( "/procrastinate") #[span.glyphicon.glyphicon-time]    
    +nav_item( "logout" ) Abmelden
    
  .jumbotron
    h2 Dateien
    p Hier findest du alle wichtigen Informationsblätter für Direktkredite. Außerdem stellen wir jährlich unsere Bilanz hier online, damit du einen Einblick in die Verwendung deines Geldes bekommst. 
  .row
    h3 Direktkreditinformationen
  each dk_file in dk_files
   .row
    .col-md-1 #[span.glyphicon.glyphicon-file]
    .col-md-11 
      a(href=dk_file.link)= dk_file.name
  .row
    h3 Bilanzen
  each balance_file in balance_files
   .row
    .col-md-1 #[span.glyphicon.glyphicon-file]
    .col-md-11 
      a(href=balance_file.link)= balance_file.name

    