include mixins

doctype html
html
  head
    title= title
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    link(rel="stylesheet" href="/public/stylesheets/style.css")
    link(rel="stylesheet" href="/public/stylesheets/datepicker.css")
    link(rel="stylesheet" href="/public/stylesheets/dataTables.bootstrap.min.css")
    script(type='text/javascript' src='/public/javascripts/jquery-2.1.4.min.js')
    script(type='text/javascript' src='/public/javascripts/bootstrap.min.js')
    script(type='text/javascript' src='/public/javascripts/moment.js')
    script(type='text/javascript' src='/public/javascripts/bootstrap-datepicker.js')
    script(type='text/javascript' src='/public/javascripts/locale/de.js')
    script(type='text/javascript' src='/public/javascripts/jquery.dataTables.min.js')
    script(type='text/javascript' src='/public/javascripts/dataTables.bootstrap.min.js')    
    script(type='text/javascript' src='/public/javascripts/custom.js')    
  body
    div(class="container")
    div(class="col-sm-8 col-sm-offset-2")
      block content
