mixin country_select_options(value)
	option(value="AT" selected=(value&&value=="AT"?true:undefined)) Österreich
	option(value="DE" selected=(value&&value=="DE"?true:undefined)) Deutschland
	option(value="CH" selected=(value&&value=="CH"?true:undefined)) Schweiz
	optgroup(label="A")
		option(value="AF" selected=(value&&value=="AF"?true:undefined)) Afghanistan
		option(value="EG" selected=(value&&value=="EG"?true:undefined)) Ägypten
		option(value="AX" selected=(value&&value=="AX"?true:undefined)) Åland
		option(value="AL" selected=(value&&value=="AL"?true:undefined)) Albanien
		option(value="DZ" selected=(value&&value=="DZ"?true:undefined)) Algerien
		option(value="AS" selected=(value&&value=="AS"?true:undefined)) Amerikanisch-Samoa
		option(value="VI" selected=(value&&value=="VI"?true:undefined)) Amerikanische Jungferninseln
		option(value="AD" selected=(value&&value=="AD"?true:undefined)) Andorra
		option(value="AO" selected=(value&&value=="AO"?true:undefined)) Angola
		option(value="AI" selected=(value&&value=="AI"?true:undefined)) Anguilla
		option(value="AQ" selected=(value&&value=="AQ"?true:undefined)) Antarktis
		option(value="AG" selected=(value&&value=="AG"?true:undefined)) Antigua und Barbuda
		option(value="GQ" selected=(value&&value=="GQ"?true:undefined)) Äquatorialguinea
		option(value="AR" selected=(value&&value=="AR"?true:undefined)) Argentinien
		option(value="AM" selected=(value&&value=="AM"?true:undefined)) Armenien
		option(value="AW" selected=(value&&value=="AW"?true:undefined)) Aruba
		option(value="AC" selected=(value&&value=="AC"?true:undefined)) Ascension
		option(value="AZ" selected=(value&&value=="AZ"?true:undefined)) Aserbaidschan
		option(value="ET" selected=(value&&value=="ET"?true:undefined)) Äthiopien
		option(value="AU" selected=(value&&value=="AU"?true:undefined)) Australien
	optgroup(label="B")
		option(value="BS" selected=(value&&value=="BS"?true:undefined)) Bahamas
		option(value="BH" selected=(value&&value=="BH"?true:undefined)) Bahrain
		option(value="BD" selected=(value&&value=="BD"?true:undefined)) Bangladesch
		option(value="BB" selected=(value&&value=="BB"?true:undefined)) Barbados
		option(value="BY" selected=(value&&value=="BY"?true:undefined)) Belarus (Weißrussland)
		option(value="BE" selected=(value&&value=="BE"?true:undefined)) Belgien
		option(value="BZ" selected=(value&&value=="BZ"?true:undefined)) Belize
		option(value="BJ" selected=(value&&value=="BJ"?true:undefined)) Benin
		option(value="BM" selected=(value&&value=="BM"?true:undefined)) Bermuda
		option(value="BT" selected=(value&&value=="BT"?true:undefined)) Bhutan
		option(value="BO" selected=(value&&value=="BO"?true:undefined)) Bolivien
		option(value="BA" selected=(value&&value=="BA"?true:undefined)) Bosnien und Herzegowina
		option(value="BW" selected=(value&&value=="BW"?true:undefined)) Botswana
		option(value="BV" selected=(value&&value=="BV"?true:undefined)) Bouvetinsel
		option(value="BR" selected=(value&&value=="BR"?true:undefined)) Brasilien
		option(value="VG" selected=(value&&value=="VG"?true:undefined)) Britische Jungferninseln
		option(value="IO" selected=(value&&value=="IO"?true:undefined)) Britisches Territorium im Indischen Ozean
		option(value="BN" selected=(value&&value=="BN"?true:undefined)) Brunei Darussalam
		option(value="BG" selected=(value&&value=="BG"?true:undefined)) Bulgarien
		option(value="BF" selected=(value&&value=="BF"?true:undefined)) Burkina Faso
		option(value="BI" selected=(value&&value=="BI"?true:undefined)) Burundi
	optgroup(label="C")
		option(value="EA" selected=(value&&value=="EA"?true:undefined)) Ceuta, Melilla
		option(value="CL" selected=(value&&value=="CL"?true:undefined)) Chile
		option(value="CN" selected=(value&&value=="CN"?true:undefined)) Volksrepublik China
		option(value="CP" selected=(value&&value=="CP"?true:undefined)) Clipperton
		option(value="CK" selected=(value&&value=="CK"?true:undefined)) Cookinseln
		option(value="CR" selected=(value&&value=="CR"?true:undefined)) Costa Rica
		option(value="CI" selected=(value&&value=="CI"?true:undefined)) Côte d'Ivoire (Elfenbeinküste)
	optgroup(label="D")
		option(value="DK" selected=(value&&value=="DK"?true:undefined)) Dänemark
		option(value="DE" selected=(value&&value=="DE"?true:undefined)) Deutschland
		option(value="DG" selected=(value&&value=="DG"?true:undefined)) Diego Garcia
		option(value="DM" selected=(value&&value=="DM"?true:undefined)) Dominica
		option(value="DO" selected=(value&&value=="DO"?true:undefined)) Dominikanische Republik
		option(value="DJ" selected=(value&&value=="DJ"?true:undefined)) Dschibuti
	optgroup(label="E")
		option(value="EC" selected=(value&&value=="EC"?true:undefined)) Ecuador
		option(value="SV" selected=(value&&value=="SV"?true:undefined)) El Salvador
		option(value="ER" selected=(value&&value=="ER"?true:undefined)) Eritrea
		option(value="EE" selected=(value&&value=="EE"?true:undefined)) Estland
	optgroup(label="F")
		option(value="FK" selected=(value&&value=="FK"?true:undefined)) Falklandinseln
		option(value="FO" selected=(value&&value=="FO"?true:undefined)) Färöer
		option(value="FJ" selected=(value&&value=="FJ"?true:undefined)) Fidschi
		option(value="FI" selected=(value&&value=="FI"?true:undefined)) Finnland
		option(value="FR" selected=(value&&value=="FR"?true:undefined)) Frankreich
		option(value="GF" selected=(value&&value=="GF"?true:undefined)) Französisch-Guayana
		option(value="PF" selected=(value&&value=="PF"?true:undefined)) Französisch-Polynesien
	optgroup(label="G")
		option(value="GA" selected=(value&&value=="GA"?true:undefined)) Gabun
		option(value="GM" selected=(value&&value=="GM"?true:undefined)) Gambia
		option(value="GE" selected=(value&&value=="GE"?true:undefined)) Georgien
		option(value="GH" selected=(value&&value=="GH"?true:undefined)) Ghana
		option(value="GI" selected=(value&&value=="GI"?true:undefined)) Gibraltar
		option(value="GD" selected=(value&&value=="GD"?true:undefined)) Grenada
		option(value="GR" selected=(value&&value=="GR"?true:undefined)) Griechenland
		option(value="GL" selected=(value&&value=="GL"?true:undefined)) Grönland
		option(value="GB" selected=(value&&value=="GB"?true:undefined)) Großbritannien
		option(value="GP" selected=(value&&value=="GP"?true:undefined)) Guadeloupe
		option(value="GU" selected=(value&&value=="GU"?true:undefined)) Guam
		option(value="GT" selected=(value&&value=="GT"?true:undefined)) Guatemala
		option(value="GG" selected=(value&&value=="GG"?true:undefined)) Guernsey (Kanalinsel)
		option(value="GN" selected=(value&&value=="GN"?true:undefined)) Guinea
		option(value="GW" selected=(value&&value=="GW"?true:undefined)) Guinea-Bissau
		option(value="GY" selected=(value&&value=="GY"?true:undefined)) Guyana
	optgroup(label="H")
		option(value="HT" selected=(value&&value=="HT"?true:undefined)) Haiti
		option(value="HM" selected=(value&&value=="HM"?true:undefined)) Heard- und McDonald-Inseln
		option(value="HN" selected=(value&&value=="HN"?true:undefined)) Honduras
		option(value="HK" selected=(value&&value=="HK"?true:undefined)) Hongkong
	optgroup(label="I")
		option(value="IN" selected=(value&&value=="IN"?true:undefined)) Indien
		option(value="ID" selected=(value&&value=="ID"?true:undefined)) Indonesien
		option(value="IM" selected=(value&&value=="IM"?true:undefined)) Insel Man
		option(value="IQ" selected=(value&&value=="IQ"?true:undefined)) Irak
		option(value="IR" selected=(value&&value=="IR"?true:undefined)) Iran
		option(value="IE" selected=(value&&value=="IE"?true:undefined)) Irland
		option(value="IS" selected=(value&&value=="IS"?true:undefined)) Island
		option(value="IL" selected=(value&&value=="IL"?true:undefined)) Israel
		option(value="IT" selected=(value&&value=="IT"?true:undefined)) Italien
	optgroup(label="J")
		option(value="JM" selected=(value&&value=="JM"?true:undefined)) Jamaika
		option(value="JP" selected=(value&&value=="JP"?true:undefined)) Japan
		option(value="YE" selected=(value&&value=="YE"?true:undefined)) Jemen
		option(value="JE" selected=(value&&value=="JE"?true:undefined)) Jersey (Kanalinsel)
		option(value="JO" selected=(value&&value=="JO"?true:undefined)) Jordanien
	optgroup(label="K")
		option(value="KY" selected=(value&&value=="KY"?true:undefined)) Kaimaninseln
		option(value="KH" selected=(value&&value=="KH"?true:undefined)) Kambodscha
		option(value="CM" selected=(value&&value=="CM"?true:undefined)) Kamerun
		option(value="CA" selected=(value&&value=="CA"?true:undefined)) Kanada
		option(value="IC" selected=(value&&value=="IC"?true:undefined)) Kanarische Inseln
		option(value="CV" selected=(value&&value=="CV"?true:undefined)) Kap Verde
		option(value="KZ" selected=(value&&value=="KZ"?true:undefined)) Kasachstan
		option(value="QA" selected=(value&&value=="QA"?true:undefined)) Katar
		option(value="KE" selected=(value&&value=="KE"?true:undefined)) Kenia
		option(value="KG" selected=(value&&value=="KG"?true:undefined)) Kirgisistan
		option(value="KI" selected=(value&&value=="KI"?true:undefined)) Kiribati
		option(value="CC" selected=(value&&value=="CC"?true:undefined)) Kokosinseln
		option(value="CO" selected=(value&&value=="CO"?true:undefined)) Kolumbien
		option(value="KM" selected=(value&&value=="KM"?true:undefined)) Komoren
		option(value="CD" selected=(value&&value=="CD"?true:undefined)) Demokratische Republik Kongo
		option(value="KP" selected=(value&&value=="KP"?true:undefined)) Demokratische Volksrepublik Korea (Nordkorea)
		option(value="KR" selected=(value&&value=="KR"?true:undefined)) Republik Korea (Südkorea)
		option(value="HR" selected=(value&&value=="HR"?true:undefined)) Kroatien
		option(value="CU" selected=(value&&value=="CU"?true:undefined)) Kuba
		option(value="KW" selected=(value&&value=="KW"?true:undefined)) Kuwait
	optgroup(label="L")
		option(value="LA" selected=(value&&value=="LA"?true:undefined)) Laos
		option(value="LS" selected=(value&&value=="LS"?true:undefined)) Lesotho
		option(value="LV" selected=(value&&value=="LV"?true:undefined)) Lettland
		option(value="LB" selected=(value&&value=="LB"?true:undefined)) Libanon
		option(value="LR" selected=(value&&value=="LR"?true:undefined)) Liberia
		option(value="LY" selected=(value&&value=="LY"?true:undefined)) Libyen
		option(value="LI" selected=(value&&value=="LI"?true:undefined)) Liechtenstein
		option(value="LT" selected=(value&&value=="LT"?true:undefined)) Litauen
		option(value="LU" selected=(value&&value=="LU"?true:undefined)) Luxemburg
	optgroup(label="M")
		option(value="MO" selected=(value&&value=="MO"?true:undefined)) Macao
		option(value="MG" selected=(value&&value=="MG"?true:undefined)) Madagaskar
		option(value="MW" selected=(value&&value=="MW"?true:undefined)) Malawi
		option(value="MY" selected=(value&&value=="MY"?true:undefined)) Malaysia
		option(value="MV" selected=(value&&value=="MV"?true:undefined)) Malediven
		option(value="ML" selected=(value&&value=="ML"?true:undefined)) Mali
		option(value="MT" selected=(value&&value=="MT"?true:undefined)) Malta
		option(value="MA" selected=(value&&value=="MA"?true:undefined)) Marokko
		option(value="MH" selected=(value&&value=="MH"?true:undefined)) Marshallinseln
		option(value="MQ" selected=(value&&value=="MQ"?true:undefined)) Martinique
		option(value="MR" selected=(value&&value=="MR"?true:undefined)) Mauretanien
		option(value="MU" selected=(value&&value=="MU"?true:undefined)) Mauritius
		option(value="YT" selected=(value&&value=="YT"?true:undefined)) Mayotte
		option(value="MK" selected=(value&&value=="MK"?true:undefined)) Mazedonien
		option(value="MX" selected=(value&&value=="MX"?true:undefined)) Mexiko
		option(value="FM" selected=(value&&value=="FM"?true:undefined)) Mikronesien
		option(value="MD" selected=(value&&value=="MD"?true:undefined)) Moldawien (Republik Moldau)
		option(value="MC" selected=(value&&value=="MC"?true:undefined)) Monaco
		option(value="MN" selected=(value&&value=="MN"?true:undefined)) Mongolei
		option(value="ME" selected=(value&&value=="ME"?true:undefined)) Montenegro
		option(value="MS" selected=(value&&value=="MS"?true:undefined)) Montserrat
		option(value="MZ" selected=(value&&value=="MZ"?true:undefined)) Mosambik
		option(value="MM" selected=(value&&value=="MM"?true:undefined)) Myanmar (Burma)
	optgroup(label="N")
		option(value="NA" selected=(value&&value=="NA"?true:undefined)) Namibia
		option(value="NR" selected=(value&&value=="NR"?true:undefined)) Nauru
		option(value="NP" selected=(value&&value=="NP"?true:undefined)) Nepal
		option(value="NC" selected=(value&&value=="NC"?true:undefined)) Neukaledonien
		option(value="NZ" selected=(value&&value=="NZ"?true:undefined)) Neuseeland
		option(value="NI" selected=(value&&value=="NI"?true:undefined)) Nicaragua
		option(value="NL" selected=(value&&value=="NL"?true:undefined)) Niederlande
		option(value="AN" selected=(value&&value=="AN"?true:undefined)) Niederländische Antillen
		option(value="NE" selected=(value&&value=="NE"?true:undefined)) Niger
		option(value="NG" selected=(value&&value=="NG"?true:undefined)) Nigeria
		option(value="NU" selected=(value&&value=="NU"?true:undefined)) Niue
		option(value="MP" selected=(value&&value=="MP"?true:undefined)) Nördliche Marianen
		option(value="NF" selected=(value&&value=="NF"?true:undefined)) Norfolkinsel
		option(value="NO" selected=(value&&value=="NO"?true:undefined)) Norwegen
	optgroup(label="O")
		option(value="OM" selected=(value&&value=="OM"?true:undefined)) Oman
		option(value="XO" selected=(value&&value=="XO"?true:undefined)) Orbit
		option(value="AT" selected=(value&&value=="AT"?true:undefined)) Österreich
		option(value="TL" selected=(value&&value=="TL"?true:undefined)) Osttimor (Timor-Leste)
	optgroup(label="P")
		option(value="PK" selected=(value&&value=="PK"?true:undefined)) Pakistan
		option(value="PS" selected=(value&&value=="PS"?true:undefined)) Palästinensische Autonomiegebiete
		option(value="PW" selected=(value&&value=="PW"?true:undefined)) Palau
		option(value="PA" selected=(value&&value=="PA"?true:undefined)) Panama
		option(value="PG" selected=(value&&value=="PG"?true:undefined)) Papua-Neuguinea
		option(value="PY" selected=(value&&value=="PY"?true:undefined)) Paraguay
		option(value="PE" selected=(value&&value=="PE"?true:undefined)) Peru
		option(value="PH" selected=(value&&value=="PH"?true:undefined)) Philippinen
		option(value="PN" selected=(value&&value=="PN"?true:undefined)) Pitcairninseln
		option(value="PL" selected=(value&&value=="PL"?true:undefined)) Polen
		option(value="PT" selected=(value&&value=="PT"?true:undefined)) Portugal
		option(value="PR" selected=(value&&value=="PR"?true:undefined)) Puerto Rico
	optgroup(label="Q")
	optgroup(label="R")
		option(value="TW" selected=(value&&value=="TW"?true:undefined)) Republik China (Taiwan)
		option(value="CG" selected=(value&&value=="CG"?true:undefined)) Republik Kongo
		option(value="RE" selected=(value&&value=="RE"?true:undefined)) Réunion
		option(value="RW" selected=(value&&value=="RW"?true:undefined)) Ruanda
		option(value="RO" selected=(value&&value=="RO"?true:undefined)) Rumänien
		option(value="RU" selected=(value&&value=="RU"?true:undefined)) Russische Föderation
	optgroup(label="S")
		option(value="BL" selected=(value&&value=="BL"?true:undefined)) Saint-Barthélemy
		option(value="MF" selected=(value&&value=="MF"?true:undefined)) Saint-Martin
		option(value="SB" selected=(value&&value=="SB"?true:undefined)) Salomonen
		option(value="ZM" selected=(value&&value=="ZM"?true:undefined)) Sambia
		option(value="WS" selected=(value&&value=="WS"?true:undefined)) Samoa
		option(value="SM" selected=(value&&value=="SM"?true:undefined)) San Marino
		option(value="ST" selected=(value&&value=="ST"?true:undefined)) São Tomé und Príncipe
		option(value="SA" selected=(value&&value=="SA"?true:undefined)) Saudi-Arabien
		option(value="SE" selected=(value&&value=="SE"?true:undefined)) Schweden
		option(value="CH" selected=(value&&value=="CH"?true:undefined)) Schweiz
		option(value="SN" selected=(value&&value=="SN"?true:undefined)) Senegal
		option(value="RS" selected=(value&&value=="RS"?true:undefined)) Serbien
		option(value="SC" selected=(value&&value=="SC"?true:undefined)) Seychellen
		option(value="SL" selected=(value&&value=="SL"?true:undefined)) Sierra Leone
		option(value="ZW" selected=(value&&value=="ZW"?true:undefined)) Simbabwe
		option(value="SG" selected=(value&&value=="SG"?true:undefined)) Singapur
		option(value="SK" selected=(value&&value=="SK"?true:undefined)) Slowakei
		option(value="SI" selected=(value&&value=="SI"?true:undefined)) Slowenien
		option(value="SO" selected=(value&&value=="SO"?true:undefined)) Somalia
		option(value="ES" selected=(value&&value=="ES"?true:undefined)) Spanien
		option(value="LK" selected=(value&&value=="LK"?true:undefined)) Sri Lanka
		option(value="SH" selected=(value&&value=="SH"?true:undefined)) St. Helena
		option(value="KN" selected=(value&&value=="KN"?true:undefined)) St. Kitts und Nevis
		option(value="LC" selected=(value&&value=="LC"?true:undefined)) St. Lucia
		option(value="PM" selected=(value&&value=="PM"?true:undefined)) Saint-Pierre und Miquelon
		option(value="VC" selected=(value&&value=="VC"?true:undefined)) St. Vincent und die Grenadinen
		option(value="ZA" selected=(value&&value=="ZA"?true:undefined)) Südafrika
		option(value="SD" selected=(value&&value=="SD"?true:undefined)) Sudan
		option(value="GS" selected=(value&&value=="GS"?true:undefined)) Südgeorgien und die Südlichen Sandwichinseln
		option(value="SR" selected=(value&&value=="SR"?true:undefined)) Suriname
		option(value="SJ" selected=(value&&value=="SJ"?true:undefined)) Svalbard und Jan Mayen
		option(value="SZ" selected=(value&&value=="SZ"?true:undefined)) Swasiland
		option(value="SY" selected=(value&&value=="SY"?true:undefined)) Syrien
	optgroup(label="T")
		option(value="TJ" selected=(value&&value=="TJ"?true:undefined)) Tadschikistan
		option(value="TZ" selected=(value&&value=="TZ"?true:undefined)) Tansania
		option(value="TH" selected=(value&&value=="TH"?true:undefined)) Thailand
		option(value="TG" selected=(value&&value=="TG"?true:undefined)) Togo
		option(value="TK" selected=(value&&value=="TK"?true:undefined)) Tokelau
		option(value="TO" selected=(value&&value=="TO"?true:undefined)) Tonga
		option(value="TT" selected=(value&&value=="TT"?true:undefined)) Trinidad und Tobago
		option(value="TA" selected=(value&&value=="TA"?true:undefined)) Tristan da Cunha
		option(value="TD" selected=(value&&value=="TD"?true:undefined)) Tschad
		option(value="CZ" selected=(value&&value=="CZ"?true:undefined)) Tschechische Republik
		option(value="TN" selected=(value&&value=="TN"?true:undefined)) Tunesien
		option(value="TR" selected=(value&&value=="TR"?true:undefined)) Türkei
		option(value="TM" selected=(value&&value=="TM"?true:undefined)) Turkmenistan
		option(value="TC" selected=(value&&value=="TC"?true:undefined)) Turks- und Caicosinseln
		option(value="TV" selected=(value&&value=="TV"?true:undefined)) Tuvalu
	optgroup(label="U")
		option(value="UG" selected=(value&&value=="UG"?true:undefined)) Uganda
		option(value="UA" selected=(value&&value=="UA"?true:undefined)) Ukraine
		option(value="HU" selected=(value&&value=="HU"?true:undefined)) Ungarn
		option(value="UY" selected=(value&&value=="UY"?true:undefined)) Uruguay
		option(value="UZ" selected=(value&&value=="UZ"?true:undefined)) Usbekistan
	optgroup(label="V")
		option(value="VU" selected=(value&&value=="VU"?true:undefined)) Vanuatu
		option(value="VA" selected=(value&&value=="VA"?true:undefined)) Vatikanstadt
		option(value="VE" selected=(value&&value=="VE"?true:undefined)) Venezuela
		option(value="AE" selected=(value&&value=="AE"?true:undefined)) Vereinigte Arabische Emirate
		option(value="US" selected=(value&&value=="US"?true:undefined)) Vereinigte Staaten von Amerika (USA)
		option(value="GB" selected=(value&&value=="GB"?true:undefined)) Vereinigtes Königreich Großbritannien und Nordirland
		option(value="VN" selected=(value&&value=="VN"?true:undefined)) Vietnam
	optgroup(label="W")
		option(value="WF" selected=(value&&value=="WF"?true:undefined)) Wallis und Futuna
		option(value="CX" selected=(value&&value=="CX"?true:undefined)) Weihnachtsinsel
		option(value="EH" selected=(value&&value=="EH"?true:undefined)) Westsahara
	optgroup(label="Z")
		option(value="CF" selected=(value&&value=="CF"?true:undefined)) Zentralafrikanische Republik
		option(value="CY" selected=(value&&value=="CY"?true:undefined)) Zypern
	</optgroup>