extends layout
block content
  +nav(project.projectname, "dropdown_menu")
    +nav_item( "profile" ) Finanzstatus
    +nav_item( "files" ) Dateien
    +nav_item( "/procrastinate") #[span.glyphicon.glyphicon-time]    
    +nav_item( "logout" ) Abmelden
  div(class="col-md-8 col-md-offset-2 col-xs-12")  
    .jumbotron
      h2 Dateien
      p Hier findest du alle wichtigen Informationsblätter für Direktkredite. Außerdem stellen wir jährlich unsere Bilanz hier online, damit du einen Einblick in die Verwendung deines Geldes bekommst. 
    .row
      form.form-horizontal(action="/accountnotification" method="post" role="form")
        .form-group
          .col-md-6
            .h3 Kontomitteilung (für Steuererklärung)
          label.control-label.col-md-2 Jahr
          .col-md-2
            input.form-control(type="number" step="1" name="year" required="true" min="1900" max="2500")
          .col-md-2
            .text-right
               button(type='submit' class='btn btn-primary') Herunterladen
    .row
      h3 Direktkreditinformationen
    each dk_file in dk_files
     .row
      .col-md-1 #[span.glyphicon.glyphicon-file]
      .col-md-11 
        a(href=dk_file.link)= dk_file.name
    .row
      h3 Bilanzen
    each balance_file in balance_files
     .row
      .col-md-1 #[span.glyphicon.glyphicon-file]
      .col-md-11 
        a(href=balance_file.link)= balance_file.name

      