extends layout

block content
  .jumbotron
    h2= "Zugangdaten erhalten"
    p.lead Falls du deine Zugangsdaten für das Kreditportal nicht bekommen oder verloren hast, kannst du dir ganz einfach einen Link zum Setzen des Passworts per E-Mail zusenden lassen. Bitte trage die E-Mailadresse ein, die du auf deinem Direktkreditvertrag angeführt hast.
  
  .col-md-5.col-xs-12.col-sm-6.col-lg-4
    +getpassword_form(_url("/getpassword"))
