extends layout

block content
  +nav(project.projectname, "dropdown_menu", project.logo) 
    +nav_item('/project') Projekt auswählen
    +nav_item('/admin') Adminbereich
    +nav_item("/") Einloggen

  .jumbotron
    h2= project.projectname + " @ habiDAT"
    p Bitte melde dich mit deinen Zugangsdaten an. Die Daten wurden dir nach Vertragsabschluss per Post zugesandt oder persönlich übergeben. Falls du die Zugangsdaten nicht bekommen hast oder verloren hast, dann melde dich bitte unter #[a(href='mailto:#{project.email}') #{project.email}] 
  
  if message && message.length > 0
    div(class="alert alert-danger") 
      p.message= message

  +logon_form("logon")
