extends layout

block content
  .jumbotron
    h2= "Willkommen beim " + settings.project.get('projectname') + " Kreditportal!"
    p.lead 
      | Hier bekommst du alle Informationen zu deinem Direktkredit bei uns. Bitte melde dich mit deinen Zugangsdaten an, falls du die Zugangsdaten nicht bekommen oder verloren hast, dann klicke
      | 
      a(href=_url("/getpassword")) hier
      | . Bei Problemen melde dich gerne unter
      | 
      a(href='mailto:'+settings.project.get("email"))= settings.project.get('email')
      | 
      | bei uns!
  
  .col-md-5.col-xs-12.col-sm-6.col-lg-4
    +logon_form(_url("/login"))
