include partials/nav

doctype html
html
  head
    title= title
    // link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    //link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    link(rel="stylesheet" href="/public/datatables/dataTables.bootstrap4.min.css")
    link(rel="stylesheet" href="/public/datatables/responsive.bootstrap4.min.css")

    link(rel="stylesheet" href="/public/css/main.css")
    link(rel="stylesheet" href="/public/datepicker/bootstrap-datepicker.min.css")
    
    link(rel="stylesheet" href="/public/chart.js/Chart.min.css")
    //link(rel="stylesheet" href="/public/css/dataTables.bootstrap.min.css")
    script(type='text/javascript' src='/public/jquery/jquery.min.js')
    //script(type='text/javascript' src='/public/popper/popper.min.js')
    script(type='text/javascript' src='/public/bootstrap/bootstrap.bundle.min.js')
    script(type='text/javascript' src='/public/datatables/jquery.dataTables.min.js')    
    script(type='text/javascript' src='/public/multiselect/bootstrap-multiselect.min.js')
    script(type='text/javascript' src='/public/datatables/dataTables.bootstrap4.min.js')      
    script(type='text/javascript' src='/public/datatables/dataTables.responsive.min.js')  
    script(type='text/javascript' src='/public/datatables/responsive.bootstrap4.min.js')  
    script(type='text/javascript' src='/public/moment/moment.min.js')
    script(type='text/javascript' src='/public/datepicker/bootstrap-datepicker.min.js')
    script(type='text/javascript' src='/public/javascripts/locale/de.js')
    script(type='text/javascript' src='/public/bootbox/bootbox.min.js')     
    script(type='text/javascript' src='/public/chart.js/Chart.min.js')
    //script(type='text/javascript' src='/public/javascripts/jquery.dataTables.min.js')
    script(type='text/javascript' src='/public/javascripts/custom.js')    
    script(type='text/javascript' src='/public/javascripts/actions.js')  
    
  body
    block content
      
