extends layout

include user/user
include file/files
include contract/contract
block content
  .jumbotron
    h2= "Finanzstatus für " + user.first_name + ' ' + user.last_name
    p.lead 
      | Hier siehst du deinen aktuellen Finanzstatus und deine Stammdaten. Falls die Daten nicht stimmen, melde dich bitte unter
      | 
      a(href='mailto:'+settings.project.get("email"))= settings.project.get('email')
  

  .row
    .col-xl-6.col-md-12
      .row
        .col-md-12
          +user(user, undefined, false)
      .row
        .col-md-12
          +contracts_summary(user, false)
      +files_show(user.files, 'user', user.id, addFile, true)            
    .col-xl-6.col-md-12
      +contracts(user, undefined, false)
