extends layout

block content
  +nav("Direktkrediteportal", "dropdown_menu") 
    +nav_item("/project") 
      span.fa.fa-th-large
      span  Projekt ausw채hlen
  .container-fluid(id="root-container" class="col-xl-8 col-xl-offset-2 col-lg-12") 
    .jumbotron
      h2 Lieber Tausend Freund*innen im R체cken, als eine Bank im Nacken!
      p.lead Willkommen bei der Direktkrediteplattform, bitte w채hle das Projekt aus, das du unterst체tzt hast!

    .row
      each project, id in projects
        .col-lg-3.col-sm-6.col-xs-12
          a.project-link(href='/project/'+id)
            .card.project-card
              img.card-img-top(src=project.logo style="height: 100px; width: auto; object-fit: contain; ")  
              .card-body.text-center
                h5.card-title=project.projectname
          