extends layout

block content
  +nav("habiTAT Direktkredite", "dropdown_menu") 
    +nav_item("/project") Projekt ausw채hlen
  div(class="col-md-8 col-md-offset-2 col-xs-12")
    .jumbotron
      h2 Lieber Tausend Freund*innen im R체cken, als eine Bank im Nacken!
      p Willkommen bei der Direktkredite-App des habiTAT. Bitte w채hle das Projekt aus, das du unterst체tzt hast!

    each project, id in projects
      .col-lg-3.col-sm-6.col-xs-12
        .thumbnail
          a(href='/project/'+id)
            div(style="min-height:100px")
              img(src=project.logo height="100")
          .caption
            h3=project.projectname