extends layout

block content
  .jumbotron
    if token
      h2= "Passwort setzen"
      p.lead Setze ein Passwort für deinen Zugang zum #{settings.project.get('projectname')}  Kreditportal
    else
      h2= "Passwort ändern"
      p.lead Ändere dein Passwort für das #{settings.project.get('projectname')}  Kreditportal
  
  .col-md-5.col-xs-12.col-sm-6.col-lg-4
    +setpassword_form("/setpassword")
