$theme-colors: (
  "primary": rgb(164, 0, 35)
);


@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-multiselect/dist/scss/bootstrap-multiselect.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";


body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

tr td.fit{
  width: 1%;
  white-space:nowrap;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

h3.underline {
  border-bottom: 1px solid #aaa;
}

h4.underline {
  border-bottom: 1px solid #aaa;
}

.navbar-default {
  background-color: #a40023;
  border-color: #a40023;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #e50031;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #e50031;
}
.navbar-default .navbar-toggle {
  border-color: #e50031;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #e50031;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #e50031;
  }
}

.move-left {
    width: auto;
    box-shadow: none;
  }

.datatable-button, button.multiselect {
  margin-right: 6px;
}

#root-container {
  margin-top: 20px;
}

.jumbotron {

    padding: 1.5rem 0rem;
    margin-bottom: 2rem;
    background-color: inherit;
    border-radius: 0.3rem;
    border-bottom: 1px dashed rgb(164, 0, 35);

}

.table th {
    border-top: 0px;
}

.details-control:hover {
  cursor: pointer;
}

.card-body .table td {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.card-body .table tbody tr:first-child td {
  border-top: 0px;
}

.card-body table {
  margin-bottom: 0px;
}

.card {
  margin-bottom: 20px;
}

tr.margin {
  margin-top: 10px;
}

.card {
    box-shadow: 2px 4px 10px 4px rgba(0,0,0,0.1);
}


.card .card {
    border: 1px solid rgba(0, 0, 0, 0.225);
    box-shadow: 2px 4px 10px 4px rgba(0,0,0,0.3);
}

#contracts_container > div.contract-active > .card {
  box-shadow: 2px 4px 10px 4px rgba(164, 0, 35,0.3);
}

.btn-light {
  background-color: inherit;
}

.section-title.h6 {
  padding-top:8px;
}

.section-title.h5 {
  padding-top:4px;
}

.section-actions {
  white-space:nowrap;
}



#sidebar {
  box-shadow: 2px 4px 10px 4px rgba(0,0,0,0.1);
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  right: -100%;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
  padding-left: 30px;
  padding-right: 30px;
}

#sidebar legend {
  margin-bottom: 30px;
}



@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

.btn-light {
    border: 1px solid rgba(0,0,0,0.1);
}

.btn-light span.fa, .details-control span.fa {
  color: rgb(164, 0, 35);
}


.project-card {
  
}

.project-card .card-title {
  margin-bottom: 0px;
  color: black; 
}

.project-card {
    box-shadow: 2px 4px 10px 4px rgba(0,0,0,0.1);
}

.project-card .card-img-top {
  margin-top: 0.6rem;
}

.project-card:hover {
    box-shadow: 2px 4px 10px 4px rgba(164, 0, 35,0.3);
}

a.project-link:hover {
    text-decoration: none;
}

.multiselect-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.multiselect-container > li > a > label {

    padding: 3px 15px 3px 15px;

}


table.dataTable.dtr-column > tbody > tr > td.control::before, table.dataTable.dtr-column > tbody > tr > th.control::before {
  top: inherit;
  left: inherit;
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  height: inherit;
  width: inherit;
  margin-top: inherit;
  margin-left: inherit;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0px solid rgba(0, 0, 0, 0.1);
  box-shadow: inherit;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  line-height: 1.5;
  content: "\f0da";
  border-radius: 0.2rem;
  width: max-content;
  color: rgba(164, 0, 35, 1);
}

table.dataTable.dtr-column > tbody > tr.parent td.control::before, table.dataTable.dtr-column > tbody > tr.parent th.control::before {
  content: '\f0d7';
  background-color: transparent;
}

td.control {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

div.dataTables_wrapper div.dataTables_length {
  text-align: inherit;
  white-space:nowrap;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0;
}

div.dataTables_wrapper div.dataTables_filter .input-group-text,  div.dataTables_wrapper div.dataTables_length .input-group-text{
  background-color: transparent;
  color: rgba(164, 0, 35,1);
}
