$primary-color: rgb(164, 0, 35);
$primary-dark: darken($primary-color,10);
$primary-light: lighten($primary-color,10);
$highlight-color: rgba(0, 100, 0,0.3);
$highlight-color-full: rgba(0, 100, 0, 1);
$link-color: rgb(0, 183, 255);

@import "./main.scss"