extends ../layout

include ../file/files

block content
  .row
    .col-xl-6.col-md-12
      include ./show_user 
      +files_show(user.files, 'user', user.id, addFile)  
    .col-xl-6.col-md-12
      include ../contract/show_contracts

  script.
    $(document).ready(function(){
      var hash = $(location).attr('hash');
      $('#'+hash.substring(hash.indexOf('contract_'))).children('.card').addClass('active');
    })

              
            