extends ../layout

include ../file/files

block content
  include ./show_user 
  +files_show(user.files, 'user', user.id, addFile)  
  include ../contract/show_contracts

  script.
    $(document).ready(function(){
      var hash = $(location).attr('hash');
      $('#'+hash.substring(hash.indexOf('contract_'))).children('.card').addClass('active');
    })

              
            