body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

tr td.fit{
  width: 1%;
  white-space:nowrap;
}