.row
  a.btn.btn-default.btn-sm(href='/mixer/add_flat/'+configuration.id) Neue Wohnung
  table.table.table-stripe
    thead
      tr
        th.col-md-3.text-left Name
        th.col-md-3.text-right Größe
        th.col-md-3.text-right Min. Bewohner*innen
        th.col-md-3.text-right Max. Bewohner*innen
    tbody
      each flat in configuration.flats
        tr
          td= flat.name 
          td.text-right= flat.size
          td.text-right= flat.min_habitant
          td.text-right= flat.max_habitant
          td.fit
              a.btn.btn-default.btn-sm(href='/mixer/edit_flat/'+flat.id) #[span.glyphicon.glyphicon-pencil]
              a.btn.btn-default.btn-sm(href='/mixer/delete_flat/'+flat.id) #[span.glyphicon.glyphicon-trash]
              
