include add

mixin files_show(files, type, id, addFile)
  .row
    h3 Dateien #[a.btn.btn-default.btn-sm(href='/file/add/' + type + '/'+id) #[span.glyphicon.glyphicon-plus]] 
  each file in files
    .row
      .col-md-4 
        a(href='/file/get/' + file.id) #{file.filename} 
      .col-md-7= file.description
      .col-md-1 #[a.btn.btn-default.btn-sm(href='/file/delete/'+file.id) #[span.glyphicon.glyphicon-trash]]
  if addFile && addFile === type
    +files_add(type,id)
