include ./contract
.row
  .col-md-12
    .card.no-shadow
      h4.card-header 
        span Direktkredite
        span.float-right
          a.btn.btn-light.btn-sm.sidebar-action(href='/contract/add/'+user.id)
            span.fa.fa-plus
      .card-body
        #contracts_container.row
          if (user.contracts.length == 0)
            .col-md-12.empty-container-message Keine Direktkredite vorhanden
          each contract in user.contracts
            +contract(contract)