.row
  a.btn.btn-default.btn-sm(href='/mixer/add_habitant/'+configuration.id) Neue*r Bewohner*in
  table.table.table-striped
    thead
      tr
        th.col-md-3.text-left Name
        th.col-md-3.text-left Geburtsdatum
        th.col-md-3.text-right Gehalt
        th.col-md-3.text-left Fixiert
    tbody
      each habitant in configuration.habitants
        tr
          td= habitant.name 
          td #{moment(habitant.birth_date).format('DD.MM.YYYY')}
          td.text-right #{sprintf('%.2f', habitant.income)} EUR
          td= habitant.fixed_to_flat
          td.fit
              a.btn.btn-default.btn-sm(href='/mixer/edit_habitant/'+habitant.id) #[span.glyphicon.glyphicon-pencil]
              a.btn.btn-default.btn-sm(href='/mixer/delete_habitant/'+habitant.id) #[span.glyphicon.glyphicon-trash]
              
