extends ../admin/layout

block admin-content
  each configuration in configurations
    .row
      legend Gesamtergebnis: #{configuration.calcValue}
    each flat in configuration.flats
      .row
        .col-md-12 Wohnung: #{flat.flat.name}, Ergebnis: #{flat.calcValue}
      .row
        .col-md-12 Bewohner*innen:
      each habitant in flat.habitants
        .row
          .col-md-12
            ul
              li= habitant.name
