extends ../admin/layout

block admin-content
  .row
    legend Konfiguration #{configuration.name} (#{configuration.calculation_mode})
  .row
    .col-md-12
      include ./habitants
  .row 
    .col-md-12
      include ./flats
  .row
    .col-md-12.text-center
      a.btn.btn-default.btn-lg(href='/mixer/mix/'+configuration.id) Do Magic!
            