extends ../admin/layout

block admin-content
  .jumbotron
    h2 Downloads
    p.lead Hier gibt's exportierte Datens채tze und automatisch generierte Dokumente f체r die Buchhaltung, f체r sonstige Hausverwaltungsaufgaben und f체r die Kommunikation mit den Kreditgeber*innen. 
  form.form-horizontal(action="/statistics/transactionList" method="post" role="form")
    .form-group.row
      label.col-md-8 
        h4 Jahresliste (Buchhaltung)
      .col-md-4
        .input-group
          .input-group-prepend
            .input-group-text(id="jahreslisteAddon") Jahr
          input.form-control(type="number" step="1" name="year" required="true" min="1970" max=new Date().getFullYear() value=new Date().getFullYear()-1 )
          .input.group-btn
             button(type='submit' class='btn btn-primary')
               span.fa.fa-download
  form.form-horizontal(action="/communication/email" method="post" role="form") 
    .form-group.row
      label.col-md-8 
        h4 E-Mail Adressen Download
      .col-md-4
        .input-group
          .input-group-prepend
            .input-group-text(id="jahreslisteAddon") Auswahl
          select.form-control(name="mode")
            option(value='all') Alle
            option(value='active') Nur aktive
          .input.group-btn
             button(type='submit' class='btn btn-primary')
               span.fa.fa-download              

  form.form-horizontal(action="/communication/addresses" method="post" role="form")
    .form-group.row
      label.col-md-8 
        h4 Adressen Download
      .col-md-4
        .input-group
          .input-group-prepend
            .input-group-text(id="jahreslisteAddon") Auswahl
          select.form-control(name="mode")
            option(value='all') Alle
            option(value='active') Nur aktive       
          .input.group-btn
             button(type='submit' class='btn btn-primary')
               span.fa.fa-download                      
