extends ../admin/layout

block admin-content
  .jumbotron
    h2 Downloads
    p Hier gibt's automatisch generierte Dokumente für die Buchhaltung und sonstige Hausverwaltungsaufgaben. 
  .row
    form.form-horizontal(action="/statistics/transactionList" method="post" role="form")
      .form-group
        .col-md-6
          .h3 Jahresliste (Buchhaltung)
        label.control-label.col-md-2 Jahr
        .col-md-2
          input.form-control(type="number" step="1" name="year" required="true" min="1900" max="2500")
        .col-md-2
          .text-right
             button(type='submit' class='btn btn-primary') Generieren